template(name='main')

	div.container-fluid#main
		
		div.container-fluid.text-center.panels-div
			div.row-fluid
				div.col-xs-4
					div.panel.panel-default.pad.panel-one
				div.col-xs-4
					div.panel.panel-default.pad.panel-two
				div.col-xs-4
					div.panel.panel-default.pad.panel-three
			div.row-fluid
				div.col-xs-4.col-xs-offset-2
					div.panel.panel-default.pad.panel-four
				div.col-xs-4.col-xs-offset-0
					div.panel.panel-default.pad.panel-five

		div.container-fluid.text-center.info-div
			p.paletteTitle 
				strong #{title}
			p.author by 
				strong #{author}
			br
			//button.btn.btn-primary#next NEXT




		div.container-fluid.text-center.next-div
			p
				span.fa.fa-angle-double-right#right



		div.container-fluid.text-center.credits
			p Thanks to 
				a(href="http://www.colourlovers.com") Colourlovers.com API

			
		

		
			