.panels-div
	max-width 400px
	margin-top 20px
.pad
	height 100px
	//border-radius 200px
	min-width 100px
	max-width 100px
	cursor pointer
	border none
	transition-property background-color
	transition-duration .3s
	
.panel-one
	border-radius 100px 100px 10px 100px
.panel-two
	border-radius 100px 100px 100px 25px
	-ms-transform rotate(-45deg)
	-webkit-transform rotate(-45deg)
	transform rotate(-45deg)
.panel-three
	border-radius 100px 100px 100px 10px
.panel-four
	border-radius 10px 100px 100px 100px
.panel-five
	border-radius 100px 10px 100px 100px

.paletteTitle
	text-transform uppercase
	margin-top 10px

.info-div
	max-width 600px
	
.author
	color #888