template(name='nav')
		nav.navbar.navbar-default#navbar
			div.container-fluid
				div(v-on:click='increment').navbar-header
					span.brand
						button(data-toggle="dropdown").btn.dropdown-toggle#menu-btn
							span.fa.fa-asterisk#menu
						ul.dropdown-menu.text-center#dd
							li
								p
									a(href="#")
										span.fa.fa-angle-right.animated.fadeInLeft.no-select#top 
											span Top
								p
									a(href="/")
										span.fa.fa-angle-right.animated.fadeInLeft.no-select#rand 
											span Rand

							
						strong CL 
						span client
					span.hex random

